.hero {
  background-color: var(--bgc-dark);
  text-align: center;
  height: 400px;
  max-width: 1600px;
  padding-top: 118px;
  padding-bottom: 118px;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero/hero-mobile@1x.jpg);
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero/hero-mobile@2x.jpg);
  }
  @media screen and (min-width: 481px) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero/hero-tablet@1x.jpg);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero/hero-tablet@2x.jpg);
    }
  }

  @media screen and (min-width: 769px) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero/hero-desk@1x.jpg);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero/hero-desk@2x.jpg);
    }
  }
  @media screen and (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
    height: 600px;
  }

  &__title {
    font-family: inherit;
    font-weight: 900;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 30px;
    color: var(--title-text-color);
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (max-width: 767px) {
      font-style: normal;
      font-size: 26px;
      line-height: 1.6;
    }

    @media screen and (min-width: 768px) {
      font-style: normal;
      font-size: 26px;
      line-height: 1.6;
    }
    @media screen and (max-width: 1199px) {
      max-width: 360px;
    }

    @media screen and (min-width: 1200px) {
      font-size: 44px;
      line-height: 1.4;
      width: 696px;
    }
  }
}
