.work {
  @media screen and (max-width: 1199px) {
    display: none;
  }
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-dark-color);
  margin-bottom: 50px;
}

.work-list {
  display: flex;
  gap: 30px;

  &__item {
    position: relative;
  }
  &__name-container {
    width: 100%;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
    position: absolute;
    bottom: 0;
  }
  &__name {
    margin-top: 27px;
    display: block;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;

    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text-color);
  }
}
